html{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.outer-container{
    background-color: #474747;
    width: 700px;
    height: a500px;
    border-radius: 3.5%;
}